[Unit]
Description=https://github.com/XX-net/XX-Net
Wants=network-online.target
After=network.target
[Service]
Type=simple
ExecStart=/home/arch/Github/XX-Net/start
[Install]
WantedBy=multi-user.target
